<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.super_yu.myexample">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-permission android:name="android.permission.INJECT_EVENTS"/>

    <application
        android:name=".MyExample"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".MainActivity"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".json.Json2Activity" />
        <activity android:name=".notification.Notification2Activity" />
        <activity android:name=".notification.SimpleNotificationActivity" />
        <activity android:name=".notification.NotificationPriorityActivity" />
        <activity android:name=".notification.TaskStackBuilderActivity" />
        <!-- parentActivityName 属性用于点击 Notification 跳转到 Activity 按返回键时返回的界面 -->
        <activity
            android:name=".notification.result.NormalResultActivity"
            android:parentActivityName=".notification.Notification2Activity">

            <!-- 兼容 Android 4.0.3 及更早的版本 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".notification.Notification2Activity" />
        </activity>
        <!-- <activity android:name=".ResultActivity"></activity> -->
        <activity
            android:name=".notification.result.SpecailResultActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity="" />
        <activity android:name=".notification.ProgressNotifyActivity" />
        <activity android:name=".notification.NotificationEffectActivity" />
        <activity android:name=".notification.SimplestNotificationActivity" />
        <activity android:name=".notification.NotificationStyleActivity" />
        <activity android:name=".notification.NotificationListenerServiceActivity" />

        <service
            android:name=".notification.MyNotificationListenerService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity android:name=".socket.Socket2Activity" />
        <activity android:name=".push.Push2Activity" />
        <activity android:name=".files.SFiles2Activity" />
        <activity android:name=".anim.Anim2Activity" />
        <activity android:name=".remedia.Remarker2Activity" />
        <activity android:name=".dialog.Dialog2Activity" />
        <activity android:name=".serialp.SerialPort2Activity" />
        <activity android:name=".recylerview.RefreshRecyclerview2Activity" />
        <activity android:name=".eventbus.EventBus2Activity" />
        <activity android:name=".eventbus.EventsBus4Activity" />
        <activity android:name=".customview.CustomView2Activity" />
        <activity android:name=".websocket.WebSocketActivity" />
        <activity android:name=".websocket.okhttp.OkHttpWebSocketActivity" />
        <activity
            android:name=".daemon.OnePx2Activity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation|keyboard"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnTaskLaunch="false"
            android:launchMode="singleInstance"
            android:theme="@style/OnePx2ActivityStyle" />
        <activity
            android:name=".daemon.OnePxMain2Activity"
            android:excludeFromRecents="true" />

        <receiver android:name=".receiver.MonitorBroadCastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TEST" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
        </receiver>

        <activity android:name=".xy.XY2Activity"></activity>
    </application>

</manifest>